# pandas (helps transforms data into .xlsx)
pandas

# pycountry (record of all countries to help with identifying subsidary countries))
pycountry

# dependency for pandas module
openpyxl

# string matching 
thefuzz

# speeds up string matching
thefuzz[speedup]