# pandas (transform data into .xlsx)
pandas

# pycountry (record of all countries to help with identifying subsidary countries))
pycountry

# dependency for pandas xl module
openpyxl

# string matching 
thefuzz

# speeds up string matching
thefuzz[speedup]

# replace accented characters with closest ASCII representation
Unidecode